

body {
    /* margin: 10%; */
    color: rgb(214, 235, 214);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    line-height: 130%;
    background-color: black;
    /* border-style: dashed;
    /* border-color: rgb(214, 235, 214);; 
    border-color: lime;
    border-radius: 2%; */

}

.bucket { /* tired of using the word: "container" but "vessel" felt weird.  */ 
    display: none; /* load this later with JS to make one visible only */ 
    flex-direction: column;
    border-radius: 3%;
    padding: 4%;
    border-style: dashed;
    border-color: lime;
    border-radius: 2%; 
    margin: 10%;
    background-color: rgb(0, 51, 0);
}
li {
    margin: 1%;
    list-style: none;
}

.heading {
    font-size: x-large;
    font-weight: bolder;
}

.home-heading {
    font-size: x-large;
    font-weight: bold;
}
.home-content {
    font-size: large;
}
.bolder {
    font-weight: bolder;
}
.larger {
    font-size: larger;
}

.role {
    font-weight: bolder;
    margin-bottom: 1%;
    text-decoration: underline;
    text-decoration-thickness: 1px ;
}

.responsibilities {
    margin: 2%;
}


#resume {
    height: 90vh;
    width: 90vw;
    padding: 2%;
    margin: 1%;
    border-style: dashed;
    border-color: lime;
    border-radius: 2%; 
}

#close-button {
    all: initial;
    height: 27px;
    width: 30px;
    border: solid lime;
    border-width: 2px;
    color: lime;
    background-color: black;
    font-weight: bolder;
    text-align: center;
    margin-left: 90%;
    font-size: x-large;
    border-radius: 5%;
}

.title {
    font-size: xx-large;
    margin-top: 1%; 
    margin-bottom: 3%;
    color: rgb(214, 235, 214);
    font-family: 'Courier New', Courier, monospace;
    line-height: 130%;
    font-weight: bolder;
}

.last-element {
    padding-bottom: 5%;
}

#top-nav {
    
    /* border: solid lime 1px; */
    width: 97%; 
    padding: .5%; 
    margin: 1%; 
    border-radius: 5%; /* with the border being only 1px, 
    border radius distorts the edges. cool */ 

}

.nav-btn {
    /* display: inline;  */
    border: solid lime;
    border-width: 1px;
    color: lime;
    background-color: black;
    font-weight: bolder;
    text-align: center;
    
    border-radius: 5%;
    padding-left: .7% ;
    padding-right: .7% ;
    padding-bottom: .5%;
    margin: .5%;
}
#news-scroller {
    display: inline;
    border: solid lime;
    border-width: 1px;
    color: lime;
    background-color: black;
    font-weight: bolder;
    text-align: center;
    margin: .5%;
    padding:.3%;
    padding-right: 0; 
    padding-left: .5%;
    width: 100%;
} 
#news-console { /* where the text actually goes */
    display: inline;
    background-color: rgb(46, 46, 31);
    margin: .5%;
    
}

#top-nav-ul{
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    overflow: hidden; 
    background-color: black;
}
.resume-li {
    float: left; 
    display: block;
    color:  rgb(214, 235, 214);
    

}
.home-li {
    float: left;
    display: block;
}


#p{
    color: lime; 
    float: inline-end;
    font-size: large;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%; 
    text-decoration: none;
}
a {
    color: rgb(255, 0, 255);
}

